<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Application</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <style>
        body {

          background-image: url("/static/images/bg.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          justify-content: center;
          align-items: top;
          background-position: center;
          height: 100vh;
          
        }
      </style>
    <div style = "margin-top: 50px;" class="ui container">
    <h1  class = " ui center aligned header" style="background-color: transparent; color: bisque; font-size: 50px;">ToDo App</h1>

    <form class = " ui form" action="/add" method="post">
        <div class="field">
            <label for="titleitem">ToDo item: </label>
            <input type="text" style="background-color: transparent; color: wheat;" name="title" id="titleitem" placeholder="Enter your ToDo item...">
            

            <br>
                <button class="ui blue button" type = 'submit' style="margin-top: 10px;">Add</button>
            
        </div>

    </form>

    {% for todo in todo_list %}
    <div class = "ui segment" style="background-color: transparent; color: bisque; border: none;" >
        <p class = "ui big header" style="color: wheat;"> {{todo.id }} | {{todo.title }}</p>

        {% if todo.complete == False %}
            <span class="ui gray label"> Not Complete</span>
        {% else %}
            <span class="ui green label">Completed</span>
        {% endif%}


        <a class = "ui blue button " href="/update/{{ todo.id}}"> Update </a>
        <a class = "ui red button " href="/delete/{{ todo.id}}"> Delete </a>
    </div>
    {% endfor %}

</div>

</body>
</html>